<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-light red darken-4">
    <mdb-navbar-brand><a class="navbar-brand">ENCUESTA DE DOCENTES</a></mdb-navbar-brand>
    
    </mdb-navbar>
    <!--/.Navbar-->
<router-outlet></router-outlet>
