<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="text-white text-center cuerpo">
  
  
          <div class="row justify-content-center mt-2">
  
            <div class="col-sm-12 col-md-6 dordeado text-center mt-5">
              <div class="row justify-content-center">
                <div class="col-10">
                  <h5 class="text-center">BUSCAR DOCUMENTO</h5>
                  <div class="md-form">
                    <input mdbInput type="text" id="form1" class="form-control">
                    <label for="form1" class="">Código de documento</label>
                  </div>
                  <button class="centrear btn btn-block" type="button" mdbBtn color="primary" mdbWavesEffect>Buscar</button>
                  <div class="mt-5 presentar">
                    <h5 class="text-center">PRESENTAR DOCUMENTO</h5>
  
                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-6">
              <h3 class="card-title h3-responsive font-bold mt-5">SISTEMA DE ENCUESTA</h3>
              <div class=" row justify-content-center">
                <div class="logo">
                  <img src="./assets/img/logos/logo_posgrado.png" alt="">
                </div>
              </div>
              <!-- <h3 class="card-title h3-responsive font-bold mt-1">FACULTAD DE INGENIERIA DE MINAS, GEOLOGÍA Y CIVIL</h3> -->
              <p class="h4-responsive">V. 1.0.0</p>
            </div>
  
            
  
  
  
          </div>
  
  
  
  
          <div class="footer">
            <p class="text-center">
              Acceso para cliente <span (click)="frame.show()"
                style="color:rgb(72, 222, 241); cursor: pointer; font-weight: 700;">login</span>
            </p>
          </div>
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
  
  
  <div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog cascading-modal" role="document">
      <!--Content-->
      <div class="modal-content">
        <!--Modal cascading tabs-->
        <div class="modal-c-tabs">
          <!-- Tab panels -->
          <mdb-tabset #staticTabs [buttonClass]="'nav md-tabs tabs-2 light-blue darken-3'" [contentClass]="''"
            class="tab-content">
            <!--Panel 7-->
            <mdb-tab class="tab-pane fade in show active" id="panel7" role="tabpanel" heading=" Login">
              <!--Body-->
              <div class="modal-body mb-1">
                <form [formGroup]="validatingForm" (ngSubmit)="onSubmit()">
                  <div class="md-form form-sm bajar">
                    <input mdbInput mdbValidate type="text" id="form22" class="form-control" name="modalFormLoginEmail"
                      formControlName="modalFormLoginEmail">
                    <label for="form22"><i class="fas fa-user"></i>usuario</label>
                    <mdb-error
                      *ngIf="modalFormLoginEmail.invalid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                      Entrada no válida
                    </mdb-error>
                    <mdb-success
                      *ngIf="modalFormLoginEmail.valid && (modalFormLoginEmail.dirty || modalFormLoginEmail.touched)">
                      Entrada válida
                    </mdb-success>
                  </div>
  
                  <div class="md-form form-sm mt-5">
                    <input mdbInput mdbValidate type="password" id="form23" class="form-control"
                      name="modalFormLoginPassword" formControlName="modalFormLoginPassword">
                    <label for="form23"><i class="fas fa-unlock-alt"></i>Contraseña</label>
                    <mdb-error
                      *ngIf="modalFormLoginPassword.invalid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                      Entrada no válida
                    </mdb-error>
                    <mdb-success
                      *ngIf="modalFormLoginPassword.valid && (modalFormLoginPassword.dirty || modalFormLoginPassword.touched)">
                      Entrada válida
                    </mdb-success>
                  </div>
                  <div class="text-center mt-2">
                    <button mdbBtn color="info" class="waves-light" mdbWavesEffect type="submit"
                      [disabled]="!validatingForm.valid">Acceder</button>
                  </div>
                </form>
              </div>
  
            </mdb-tab>
          </mdb-tabset>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  
  