div.card {
    background: url('../../../assets/img/backgrounds/forest1.jpg');
    height: 750px;
    width: 100%;
}
h3, h5 {
    // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
p{
    font-size: 1rem;
}
.justify-content-md-center {
    justify-content: center;
}
.btn , .md-form {
    margin: 0!important;
}
.presentar{
   bottom: 10px;
}
.footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    .span {
        color: blue!important;
        border-bottom-color: blue!important;
        cursor: pointer;
    }
}
.dordeado {
    border-style: none none none double;

}
.logo {
    margin-top: 30%;
    img {
        width: 75%;
        height: 95%;
    }
}

  
  @media screen and (max-width:691px) {
    h3 {
        margin-top: 10px!important;
    }
    .mt-5 {
        margin-top: 0!important;
    }
    .dordeado {
        border-style: double none none none; 
    }
    .presentar{
        margin-top: 0px!important;
    }
    div.card {
        height: 950px;
    }
}
label, input.form-control {
    color: white;
    font-weight: 700;
}
.form-sm label , .form-sm  input.form-control{
    color: rgb(80, 77, 241);
}

label.active {
    color: rgb(109, 207, 245);
    font-weight: 700;
}
table {
    margin: 0!important;
    display: table;
}
th,td {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: black;
    height: 10px;
}
table.table td, table.table th {
    padding-top:0;
    padding-bottom:0;
}
.modal-footer {
    display: block;
    
}
.modal-body .bajar {
    margin-bottom: 50px!important;
}